
.cz {
  stroke: white;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.state {
  fill: none;
  stroke: white;
  stroke-width: .8px;
  stroke-linejoin: round;
}

#tooltip{
  position: absolute;
  z-index: 2;
  background: white; /* gba(0,153,76,0.8); */
  width:130px;
  height:80px;
  color:black;
  font-size: 15px;
  padding:5px;
  top:-150px;
  left:-150px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip svg {
	border-top: 0;
	margin-left: -5px;
	margin-top: 7px;
}

#tooltip.hidden {
	display: none;
}

#le_chart {
  width: 20%;
  margin: 0 auto; 
  padding: 50px;
}

table { 
  width: 80%;
  margin: 0 auto;
}

body { font-family: 'Helvetica Neue', Helvetica; font-weight: 300; padding: 20px;}
th { text-align: left; } 
th, td { padding: 0 1em 0.5ex 0;}
th.center, td.center { text-align: center; }
th.num, td.num { text-align: right; }	 




